<footer class="container-fluid">
  <div id="app-footer__body" class="row app-footer-border-top">
    <div class="col-md app-g-text-center">
	  <a mat-button><span>U Goni </span><br /><div mat-card-avatar class="app-g-logo app-g-display-inline-block"></div><br /><span> nocna imprezka</span></a>
	  <p>Jestemy w Social Media!</p>
	  <app-social></app-social>
	</div>
    <div class="col-md">
      <h2>Adres:</h2>
      <address>Rynek Główny<br />Rzeszów<br />II piętro</address>
    </div>
    <div class="col-md">
      <h2>Kontakt:</h2>
      <address>Rezerwacje i organizacja imprez:<br />Gonia: +0048 123 123 123<br />Tomek: +0048 123 123 123<br />
      <a href="mailto:#">rezerwacje@ugoni.gmail</a>
      </address>
    </div>
    <div class="col-md">
      <h2>Godziny otwarcia:</h2>
      <p>Imprezka do rana!<br />Zapraszamy codziennie od 20.00 do białego rana :)</p>
    </div>
  </div>
  <div id="app-footer__footer" class="row app-g-text-center app-footer-border-top">
    <div class="col">
      <p id="copyright">&copy; Copyright U Goni 2020</p>    
    </div>
  </div>
</footer>
