@import "../../styles-variables.scss"; /* import to use Bootstrap's grid-breakpoints and custom mixin */

.app-footer-border-top {
    border-top: solid 1px #777777;
}

#app-footer__body {
    padding: 20px 0px;
}

/* Mobile first
 * Divide content: display top border on mobile, left border on other devices. Add padding to the left
*/
#app-footer__body div + div {
    border-top: solid 1px #777777;
    padding-left: 20px;
}

/* use mixin */
@include respond-above(md) {
    #app-footer__body div + div {
        border-left: solid 1px #777777;
        border-top: 0px;
    }
}

/* Style a footer bottom bar - a footer footer */
#app-footer__footer {
    background-color: #1b1b1b;
}

#copyright {
    color: #999999;
    padding: 5px 0px;
    font-size: 0.8rem;
}

