<div class="container app-g-relative">
  <div class="row app-g-display-none app-carousel-content" *ngFor="let data of carouselData">
    <img class="app-g-img-100" src="{{ data.imgUrl }}" alt="{{ data.alt }}">
    <div class="app-g-caption">
      <h1 class="app-g-upper-case">{{ data.header }}</h1>
      <p>{{ data.text }}</p>
    </div>
  </div>
  <!-- Next and Previos button -->
  <!-- 
  <a class="prev">&#10094;</a>
  <a class="next">&#10095;</a>
  -->
  <!-- Carousel dots -->
  <div class="app-carousel-dots">
    <div class="app-center">
      <span class="app-dot" *ngFor="let data of carouselData"></span>
    </div>
  </div>
</div>
