<!-- Social component -->
<div id="app-social-container">
  <a mat-mini-fab target="_blank" title="Facebook" href="https://www.facebook.com/username" aria-label="Icon hyperlink to the facebook website">
    <!-- The attribute directive [icon] is defined in the FontAwesomeModule -->
    <fa-icon [icon]="faFacebook"></fa-icon>
  </a>
  <a mat-mini-fab target="_blank" title="Twitter" href="http://www.twitter.com/username" aria-label="Icon hyperlink to the twitter website">
    <fa-icon [icon]="faTwitter"></fa-icon>
  </a>
  <a mat-mini-fab target="_blank" title="Instagram" href="http://www.instagram.com/username" aria-label="Icon hyperlink to the instagram website">
    <fa-icon [icon]="faInstagram"></fa-icon>
  </a>
</div>
