<app-navigation>
  <!-- Content -->
  <!-- Test Bootstrap and Angular Material--> 
  <div class="container">
    <div class="row">
      <div class="col-sm">Test Bootstrap grid - first column</div>
      <div class="col-sm">Test Bootstrap grid - second column</div>
      <div class="col-sm">Test Bootstrap grid - third column</div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <mat-card class=col-sm-6>Test - Angular Material Card</mat-card>
    </div>
  </div>
  <!-- Carousel -->
  <app-carousel></app-carousel>
</app-navigation> 
 