<!-- Baner start -->
<div class="container-fluid">
  <div id="baner" class="row app-g-relative">
    <img class="app-g-img-100" src="/assets/img/kontakt/kontakt_1.jpg" alt="Panorama rzeszowskiego rynku z widokiem na klub u Goni"/>
    <div class="app-g-caption">
      <h1 class="app-g-upper-case">Kontakt</h1>
      <p>Zapraszamy</p>
    </div>    
  </div>
</div>
<!-- Baner end -->
<!-- Main Content start-->
<div class="container app-g-text-center">
  <!-- Main information -->
  <div class="row">
    <div class="col-md">
      <h1 class="app-g-bold app-g-upper-case app-g-decorator">Informacje</h1>
      <p class="app-g-text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    </div>
  </div>
  <!-- Address | opening hours -->
  <div class="row">
    <div class="col-md-6">
      <h1 class="app-g-bold app-g-upper-case  app-g-decorator">Adres</h1>
      <address class="app-g-font-small">Rynek Główny<br />Rzeszów<br />II piętro</address>
    </div>
    <div class="col-md-6">
      <h1 class="app-g-bold app-g-upper-case app-g-decorator">Godziny otwarcia</h1>
      <p>Imprezka do rana!<br />Zapraszamy codziennie od 20.00 do białego rana :)</p>
    </div>
  </div>
  <!-- Contact | Contact form -->
  <div class="row">
    <div class="col-md-6">
      <h1 class="app-g-bold app-g-upper-case app-g-decorator">Kontakt</h1>
      <address>
        Rezerwacje i organizacja imprez:<br />Gonia: +0048 123 123 123<br />Tomek: +0048 123 123 123<br />
      <a  class="app-g-font-small" href="mailto:#">rezerwacje@ugoni.gmail</a>
      </address>
    </div>
    <div class="col-md-6">
      <h1 class="app-g-bold app-g-upper-case app-g-decorator">Formularz Kontaktowy</h1>
      <div>
        Form here
      </div>
    </div>
  </div>
  <!-- Google map | Building image -->
  <div class="row">
    <div class="col-md-6">
      <h1 class="app-g-bold app-g-upper-case app-g-decorator">Znajdź Nas</h1>
      <div class="google-maps">
        <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJhwS8BQL7PEcR-DLeNdYLxJE&key=AIzaSyDQdqU3bvyUDRskhIZt8XjYTNbHPIzE3TI" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-6">
      <h1 class="app-g-bold app-g-upper-case app-g-decorator">Tu jesteśmy</h1>
      <div>Img budynku</div>
    </div>
  </div>
</div>
<!-- Main Content end -->