.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

/* Added css */
.menu-spacer {
  flex: 1 1 auto;
}

mat-toolbar a {
  color: white;
  transition: color 2s;
} 

mat-toolbar a:hover {
  color: black;
}

.logo {
  background-image: url('~/assets/img/main/logo.jpg');
  background-size: cover;
}
