<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" role="navigation" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      [ngClass]="{'hidden': !(isHandset$ | async)}"> <!-- Hide a Sidenav on a big screens-->
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">U Goni</a>
      <a mat-list-item href="#">imprezy</a>
      <a mat-list-item href="#">przyjęcia</a>
      <a mat-list-item href="#">menu</a>
      <a mat-list-item href="#">galeria</a>
      <a mat-list-item href="#">kontakt</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- Display only if not handset-->
      <div class="app-inline-flex-center">
        <div *ngIf="!(isHandset$ | async)">
          <a mat-button color="accent" routerLink="/ugoni" routerLinkActive="active">U Goni</a>
          <a mat-button routerLink="/imprezy" routerLinkActive="active">imprezy</a>
          <a mat-button routerLink="/przyjecia" routerLinkActive="active">przyjęcia</a>
        </div>
        <div>
          <a mat-button routerLink="/ugoni" routerLinkActive="active"><span>U Goni </span><div mat-card-avatar class="app-g-logo app-g-display-inline-block"></div><span> nocna imprezka</span></a>
        </div>
        <div *ngIf="!(isHandset$ | async)">
          <a mat-button routerLink="/menu" routerLinkActive="active">menu</a>
          <a mat-button routerLink="/galeria" routerLinkActive="active">galeria</a>
          <a mat-button routerLink="/kontakt" routerLinkActive="active">kontakt</a>
        </div>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <!-- ng-content tag - content goes here. It acts as a placeholder. It takes the content from the parent component -->    
    <ng-content></ng-content><!-- The content goes from app.component.html <app-navigation> content </app-navigation>-->
  </mat-sidenav-content>
</mat-sidenav-container>
