/* You can add global styles to this file, and also import other style files */

// Bootstrap
@import "styles-variables";
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";
// Reset Boostrap's reboot to fit Angular Material
@import "styles-reset";

// Angular Material
// import Angular Material prebuilt theme
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

// Added by Angular Material schematic
html, body { height: 100%; }
body { margin: 0; 
    //font-family: Roboto, "Helvetica Neue", sans-serif; // Remove it to keep Bootsrtap settings of fonts
}

// General custom styles
// Prefix: 'app-g' as application general styles
.app-g-display-none {
    display: none;
}
  
.app-g-display-inline-block {
    display: inline-block;
}

.app-g-relative {
    position: relative;
}

.app-g-upper-case {
    text-transform: uppercase;
}

.app-g-text-center {
    text-align: center;
}

.app-g-logo {
    background-image: url('~/assets/img/main/logo.jpg');
    background-size: cover;
}
